<h2>Xin chào <%= @employee.name %></h1>

<p>Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu từ tài khoản của bạn.</p>

<h2>Vui lòng sử dụng mã này để đặt lại mật khẩu của bạn: <%= @employee.reset_password_token %></h2>

<p>Để đặt lại mật khẩu của bạn, vui lòng nhập mã của bạn vào biểu mẫu.</p>
<p>Mã này sẽ hết hạn sau một giờ kể từ khi yêu cầu đặt lại mật khẩu.</p>


<p>Nếu bạn không yêu cầu đặt lại mật khẩu của mình, vui lòng bỏ qua email này và mật khẩu của bạn sẽ được giữ nguyên.</p>
<p>Cảm ơn bạn,</p>
<p>Đội ngũ Hệ thống dược</p>
